# Exercise 1: Exploratory Analysis over the `Adults` dataset

We're going to have our first contact with exploratory data analysis in Pandas. For this exercise, load the `adult.csv` dataset and anser the questions. The Adult dataset is a very well-known study about the income level of individuals given demographical variables.

Questions:

1. Execute `df.head()` function to see the content of data
1. How many people older than 50 have partipated in this study?
1. How many `Male` and `Female` individuals have participated in this study? And the proportion?
1. What's the proportion of `Male` and `Female` that earn an income of ` >50K`? Is there disparity in terms of income between men and women?
1. What's the average age per ocuppation? What's the occupation with younger workers?
1. Calculate the distribution of the marital status given people with income `>50K`. What's the most common marital status among them?

_NOTE: Use `groupby` aggregations wheneven possible_

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/adult.csv")

#### Execute df.head() function to see the content of data

In [4]:
data.head()

,age,workclass,education,marital-status,occupation,sex,hours-per-week,native-country,income
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Male,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Male,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Male,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Female,40,Cuba,<=50K

#### How many people older than 50 have partipated in this study?

In [13]:
len(data)

32561

In [12]:
len(data[data["age"]>50])

6460

#### How many Male and Female individuals have participated in this study? And the proportion?

In [15]:
# absolute value - option 1
data.groupby("sex").size()

sex
 Female    10771
 Male      21790
dtype: int64

In [17]:
# proportion - option 1
data.groupby("sex").size() / len(data)

sex
 Female    0.330795
 Male      0.669205
dtype: float64

In [19]:
# absolute value - option 2
data.sex.value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

In [20]:
# proportion - option 2
data.sex.value_counts(normalize=True)

 Male      0.669205
 Female    0.330795
Name: sex, dtype: float64

#### What's the proportion of Male and Female that earn an income of  >50K? Is there disparity in terms of income between men and women?

In [27]:
data.income[0]

' <=50K'

In [28]:
aux = data[data["income"]==" >50K"]

In [30]:
aux.sex.value_counts(normalize=True)

 Male      0.849637
 Female    0.150363
Name: sex, dtype: float64

In [32]:
data[data["income"]==" >50K"].sex.value_counts(normalize=True)

 Male      0.849637
 Female    0.150363
Name: sex, dtype: float64

#### What's the average age per ocuppation? What's the occupation with younger workers?

In [50]:
aux = data.groupby("occupation")["age"].mean()

In [51]:
aux

occupation
 ?                    40.882800
 Adm-clerical         36.964456
 Armed-Forces         30.222222
 Craft-repair         39.031471
 Exec-managerial      42.169208
 Farming-fishing      41.211268
 Handlers-cleaners    32.165693
 Machine-op-inspct    37.715285
 Other-service        34.949621
 Priv-house-serv      41.724832
 Prof-specialty       40.517633
 Protective-serv      38.953775
 Sales                37.353973
 Tech-support         37.022629
 Transport-moving     40.197871
Name: age, dtype: float64

In [54]:
# What's the occupation with younger workers (op 1)
aux[aux==aux.min()]

occupation
 Armed-Forces    30.222222
Name: age, dtype: float64

In [56]:
# What's the occupation with younger workers (op 2)
aux = aux.sort_values()

In [57]:
aux.iloc[0]

30.22222222222222

#### Calculate the distribution of the marital status given people with income `>50K`. What's the most common marital status among them?

In [59]:
# let's calculate the conditional distribution
data[data["income"]==" >50K"]["marital-status"].value_counts(normalize=True)

 Married-civ-spouse       0.853463
 Never-married            0.062620
 Divorced                 0.059049
 Widowed                  0.010840
 Separated                0.008417
 Married-spouse-absent    0.004336
 Married-AF-spouse        0.001275
Name: marital-status, dtype: float64